   .scorecontainer {
    visibility:hidden;
    display: flex;
     height: 100%;
    background-color: #4385ef;
    border-radius: 10px;
    box-shadow: inset 0px -5px 1px #234d8e, 6px 7px 3px rgba(66, 66, 66, 0.5);
  }
  
  .btn {
    width: 100px;
    border: 0;
    border-radius: 20px;
    outline: none !important;
    font-size: 50px;
    font-family: rubik;
    text-shadow: 3px 3px 5px;
    display: block;
    top: 15px;
     padding:20px
  }
  
  #redScore {
    background-color: #e85c5c;
    box-shadow: inset 0 -5px 1px #842f2f, 6px 7px 3px rgba(66, 66, 66, 0.5);
  }
  
  #yellowScore {
    background-color: yellow;
    box-shadow: inset 0 -5px 1px #37842f, 6px 7px 3px rgba(66, 66, 66, 0.5);
  }
  
  .btncontainer {
    display: inline-block;
    margin: 0 45px 20px 45px;
    text-align: center;
    & h2 {
      font-family: rubik;
      font-size: 30px;
      background-color: #ffffff;
      color: #383838;
      border-radius: 10px;
      font-weight: 800;
      padding: 10px 15px 15px 15px;
      box-shadow: inset 0 -5px 1px #5a5e11, 6px 7px 3px rgba(66, 66, 66, 0.5);
    }
  }
  
 
  

  